/* 
snow: #FFFAFB
tiffany blue: #7DE2D1
persian green: #339989
jet: #2B2C28
night: #131515
*/

body{
    color:#FFFAFB;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    transition: all 0.5s;
    background-color: #131515;
    height: 99vh;
    font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2B2C28;
    height: 15vh;
    padding-left: 10vh;
    padding-right: 10vh;
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.links a{
    color: #FFFAFB;
    margin: 4vh;
    font-size: 20px;
    text-decoration: none;
}
.cad{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84vh;
    border: 1px solid red;
}
.cadinho{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: #2B2C28;
    height: 75vh;
    width: 80vh;
    border: 1px solid red;
    border-radius: 20px;
}
.cadinho input{
    
}
.imagem{
    height: 90vh;
    width: 90vh;
    border-radius: 20px;
}
@media (max-width: 1000px) {
    .imagem {
        display: none;
    }
}